<div class="card-body">
    <div class="media d-flex">

        {# {% if news_item.image %} #}
        <img src="{{ url_for('images', path='/news/Screenshot_33.png') }}" alt="" height="300" width="300" class="me-3">
        {# {% endif %} #}

        <div class="media-body">

            <h5 class="card-title">
                <a href="{{ news_item.get_absolute_url }}" style="text-decoration: none; color: black"> {{ news_item.title|safe }} </a>
            </h5>

            <p class="card-text"> {{ news_item.content }} </p>

            {% include 'inc/_news_buttons.html' %}

        </div>

    </div>

</div>


<div class="card-footer text-muted">
    {{ news_item.author.name }}, {{ news_item.created_at.strftime('%d %B %Y, %H:%M:%S') }} ({{ news_item.created_at.strftime('%A') }})
    <span style="float:right" class="badge rounded-pill text-bg-primary"> {{ news_item.views_count }} views </span>
    <span style="float:right; margin-right: 10px" class="badge rounded-pill text-bg-danger"> {{ news_likes_count[news_item.id] }} likes </span>
</div>